<!DOCTYPE html>
<html>
    <head>
        <style>
            #google-maps-container {
                height:400px;
                width:100%;
            }
        </style>
    </head>
    <body>
        <div id="app">
            <div class="about flex flex-col items-center">
                <div class="absolute inset-0 z-0" @click="modal=false"></div>
                <input type="text" class="bg-gray-300 px-4 py-2 z-10" autocomplete="off" v-model="str" @focus="modal=true">
                <div v-if="filteredStates && modal" class="z-10">
                    <ul class="w-48 bg-gray-800 text-white">
                        <li v-for="filteredState in filteredStates" :key="filteredState.name" 
                        class="py-2 border-b cursor-pointer" @click="setState(filteredState.name)">{{ filteredState.name }}</li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="google-maps-container" class="z-10"></div>

        <script src="https://unpkg.com/vue@next"></script>
        <script>
            let app = Vue.createApp({
                data: function() {
                    return {
                        str: '',
                        modal: false,
                        filteredStates: []
                    }
                },

                mounted() {
                    this.filterStates();
                },

                methods: {
                    filterStates() {
                        fetch('http://localhost:5000/graphql', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'Accept': 'application/json',
                            },
                            body: JSON.stringify({query: `{ states(str: "${this.str}") {
                                    name
                                }
                            }`})
                        })
                        .then(res => res.json())
                        .then(response => this.filteredStates = response.data.states)
                        .catch(err => console.log(err.message))
                    },
                    setState(state) {
                        this.str = state;
                        this.modal = false;
                    },
                },

                watch: {
                    str() {
                        this.filterStates();
                    }
                }
            })
            app.mount('#app')
        </script>

        <script async
            src="https://maps.googleapis.com/maps/api/js?key=mykey&callback=initializationCallback">
        </script>
        <script>
            var map;

            function initializationCallback() {
                map = new google.maps.Map(document.getElementById('google-maps-container'), {
                    center: {
                        lat: 7.119082288502541,
                        lng: -73.120029012106
                    },
                    zoom: 11,
                });
            }
        </script>
    </body>


</html>
